
body {
  margin: 0%;
  padding: 0%;
  background-color: #272727;
  color: #c2c2c2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


img{
  pointer-events: none;
}

nav
{
  display: flex;
  align-items: center;
  background-color: #F3F3F3;
  font-size: 200%;
  border-width: 3%;
  border-style: solid;
  border-radius: 20px;
  display: inline-block;
  padding: 1%;
  padding-bottom: 1%;
  padding-top: 1%;
  text-decoration: none;
  text-align: center;
  position: absolute;
    top: 5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

html {scroll-behavior: smooth;
scrollbar-color: #a2a2a2;}

a:link 
{

  text-decoration: none;
  font-family: "Comic Sans", cursive;
}


/* Formating for mouse over link */
a:hover 
{

  text-decoration: underline;
  font-family: "Comic Sans", cursive;
}


/* Formating for clicked link */
a:active
{

  text-decoration: underline;
  font-family: "Comic Sans", cursive;
}


/* Formating for visited link */
a:visited 
{
  color: #272727;
  text-decoration: none;
  font-family: "Comic Sans", cursive;
}


  h1, h2
{
  font-family: "Comic Sans", cursive;
}

.タイトル {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.タイトル h1{
  margin-top: 80px;
  margin-bottom: 24px;
}

.僕が{
  width: 20%;
}

.僕について{
  width: 50%;
  font-size: 169%;
  text-align: center;
  font-family: "Comic Sans", cursive;
}

.僕について ul, li{
  font-family: "Comic Sans", cursive;
  font-size: 200%;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.僕について a:active, a:visited {
  color: #a2a2a2;
  text-decoration: none;
  font-family: "Comic Sans", cursive;
} 

.ガレリー {
  background-color: #a3a3a3;
  padding: 2%;
  margin: 5%;
  margin-top: 0%;
  color:#F3F3F3;
  font-size: 100%;
  text-align: center;
  font-family: "Comic Sans", cursive, italic, bold;
  border-width: 10px;
  border-color: #272727;
  border-style: groove;
  background-color: #a2a2a2;
}



.もやし{

  border-width: 3%;
  border-style: solid;
  border-radius: 30%;
  display: inline-block;
  padding: 1%;
  background-color: #272727;
  color: #c2c2c2;
  text-decoration: #c2c2c2;
  position: fixed;
  font-size: 110%;
  top: 90%;
  left: 4%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.メージー {
    flex: auto;
}


.else{
  text-align: center;
  
    top: 1%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 50%)

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{

  .ガレリー {
    font-size: 200%;
  }

  .メージー {
    padding-top: 10%;
    width: 70%;
  }
  
  figure figcaption{
    font-size: 90%;
    font-size-adjust: none;
    padding-bottom: 10%;
    }


  figure{
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .僕が{
    width: 50%;
  }
  
  .僕について{
    width: 80%;
    font-size: 169%;
  }

  .もやし{

   
    top: 90%;
    left: 15%;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
 


  .ガレリー {

    font-size: 200%;

  }

  .メージー {
    padding-top: 10%;
    width: 80%;
  }

  figure figcaption{
    font-size: 90%;
    font-size-adjust: none;
    padding-bottom: 10%;
  }


   .僕が{
    width: 50%;
  }
  
  .僕について{
    width: 80%;
    font-size: 169%;
  }

  .もやし{

   
    top: 90%;
    left: 10%;
  }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
 
  .ガレリー {

    font-size: 200%;

  }

  .僕が{
    width: 30%;
  }
  
  .僕について{
    width: 50%;
    font-size: 169%;
  }

  .もやし{

   
    top: 90%;
    left: 8%;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
  .ガレリー {
    font-size: 200%;
  }

  figure{
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .僕が{
    width: 30%;
  }
  
  .僕について{
    width: 50%;
    font-size: 169%;
  }

  .もやし{

   
    top: 90%;
    left: 8%;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{

  .ガレリー {

    font-size: 200%;
    margin-right: 10%;
    margin-left: 10%;
    padding: 1%;
    align-self: center;
  }

  figure{
    float: left;
    width: 50%;
    margin: 0px;
    padding: 0px;
  }

  .メージー {
    padding-top: 10%;
    width: 70%;
  }

  figure figcaption{
    font-size: 90%;
    font-size-adjust: none;
    padding-bottom: 10%;
  }


  .僕が{
    width: 20%;
  }
  
  .僕について{
    width: 50%;
    font-size: 169%;
  }

}


/*
table 
{
  width: 50%;
}

th, td 
{
  padding: 0.5em;
  text-align: center;
}

th 
{
  background-color: black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.8em;
}
/*

