
body {
  margin: 0%;
  padding: 0%;
  background-color: #272727;
  color: #c2c2c2;
}

  nav 
{
  display: flex;
  align-items: center;
  background-color: #F3F3F3;
  font-size: 200%;
  border-width: 3%;
  border-style: solid;
  border-radius: 20px;
  display: inline-block;
  padding: 1%;
  padding-bottom: 1%;
  padding-top: 1%;
  position: absolute;
    top: 5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.bwbr {

    position: left;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  
  @keyframes example {
    0%   {width:100%; left:100%;}
      50% {scale:50%; left: 0%; right:69%;}
      100% {width:100%; left:100%;}
  }

  h1, h2
{
  font-family: "Comic Sans", cursive;
}
.ガレリー {
  background-color: #a3a3a3;

  padding: 2%;
  margin: 5%;
  color:#F3F3F3;
  font-size: 100%;
  text-align: center;
  font-family: "Comic Sans", cursive, italic, bold;
  border-width: 10px;
  border-color: #272727;
  border-style: groove;
  background-color: #a2a2a2;
}

/*
figure 
{
  width: 30%;
}


figure img 
{
  background-color: #272727;
  width: 100%;
}


figcaption 
{
  text-align: center
}
*/

.タイツル{
  text-align: center;
  position: absolute;
    top: 1%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 50%)

}
.else{
  text-align: center;
  position: absolute;
    top: 1%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 50%)

}



.もやし{

  border-width: 3%;
  border-style: solid;
  border-radius: 20px;
  display: inline-block;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  background-color: #272727;
  color: #c2c2c2;
  text-decoration: #c2c2c2;
  position: fixed;
  font-size: 110%;
  top: 70%;
  left: 3%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}


table 
{
  width: 50%;
}

th, td 
{
  padding: 0.5em;
  text-align: center;
}

th 
{
  background-color: black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.8em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
  .ガレリー 
  {
    width: 85%;
    font-size: 200%;
  }
  .メージー{
    width: 90%;
  }
  .タイツル{
    text-align: center;
    position: absolute;
      top: 1%;
      font-size: 80%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, 50%)
  
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
  .ガレリー 
  {
    width: 85%;
    font-size: 200%;
  }
  .メージー{
    width: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
  .ガレリー 
  {
    width: 85%;
    font-size: 200%;
  }
  .メージー{
    width: 90%;
  }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
  .ガレリー 
  {
    width: 85%;
    font-size: 200%;
  }
  .メージー{
    width: 90%;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
  .ガレリー 
  {
    width: 80%;
    font-size: 200%;
  }
  .メージー{
    width: 80%;
  }
}